@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-Thin.ttf");
	font-weight: 100;
}

@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-ThinItalic.ttf");
	font-weight: 100;
	font-style: oblique;
}

@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-LightItalic.ttf");
	font-weight: 300;
	font-style: oblique;
}

@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-RegularItalic.ttf");
	font-weight: 400;
	font-style: oblique;
}

@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-MediumItalic.ttf");
	font-weight: 500;
	font-style: oblique;
}

@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: webmono;
	src: url("fonts/RobotoMono-BoldItalic.ttf");
	font-weight: 700;
	font-style: oblique;
}

* {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-decoration: inherit;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background: none;
	color: inherit;
	outline: none;
}

html {
	background-color: #efefef;
	color: black;
	font-family: webmono;
	font-weight: 400;
	font-size: 12pt;
	line-height: 150%;
}

body {
	background-color: white;
	width: 96ch;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 2ex;
}

header {
	background-image: url("./header.png");
	background-color: black;
	background-size: 100% 100%;
	padding-left: 2ch;
	padding-right: 2ch;
	padding-top: 3ch;
	padding-bottom: 3ch;
}

header h1 {
	color: white;
	font-size: 125%;
	font-weight: 700;
	text-shadow: 1px 1px 0 black,
			1px 1px 2px black,
			1px 1px 3px black;
}

a {
	color: blue;
}

a:active {
	text-decoration: underline;
}

a:hover {
	background-color: blue;
	color: white;
	text-decoration: underline;
}

a:focus {
	text-decoration: underline;
}

article {
	border-bottom-color: black;
	border-bottom-style: dashed;
	border-bottom-width: 0.1ex;
	margin-bottom: 2ex;
	padding-bottom: 2ex;
	padding-left: 2ch;
	padding-right: 2ch;
}

article h1 {
	font-weight: 700;
	font-style: oblique;
	margin-top: 2ex;
	margin-bottom: 2ex;
	border-bottom: 0.3ex solid black;
}

article h2 {
	font-weight: 500;
	margin-top: 2ex;
	margin-bottom: 2ex;
}

article p {
	font-weight: 300;
	margin-bottom: 1ex;
}

article u {
	text-decoration: underline;
}

article b {
	font-weight: bolder;
}

article ul {
	list-style: none;
	padding-left: 2ex;
	margin-bottom: 2ex;
}

article ul li {
	text-indent: -2ch;
}

article ul li:before {
	content: "- ";
	font-weight: 500;
}

article ul li span {
	color: gray;
	margin-left: 1ch;
}

#logos {
	text-align: center;
}

footer {
	padding-left: 2ch;
	padding-right: 2ch;
}